{{yield}}
<h1>{{type.name}}</h1>
<div {{action "clean"}}>Clean</div> 
<div {{action "save"}}>Save</div>

<div {{action "open"}}>Open</div>



 <div class="console-output">{{stdOut}}</div>
 <hr>
 <div class="console-output">{{stdErr}}</div>
 <hr>
  <div class="console-output">{{stdEnd}}</div>
 <hr>
