{{yield}}
<h3>{{type.name}}</h3>
{{#if is_loading}}
<button class='disabled button' >Building...</button>
{{else}}
<button class='success button'  {{action "build"}}>Build</button>
{{/if}}






 <div class='{{if success "success" "error"}} console-output'>{{stdOut}}</div>
 <hr>
 <div class='{{if success "success" "error"}} console-output'>{{stdErr}}</div>
 <hr>
  <div class='{{if success "success" "error"}} console-output'>{{stdEnd}}</div>
 <hr>
