<div class="col-sm-9 right-relative">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">
        {{render 'shared/navbar'}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      {{#if isFileSelected}}
        <div class="row">
          <div class="col-sm-12">
            <div id="file-loader" class="loader">
              <i class="icon-spin1 animate-spin"></i> Loading...
            </div>
          </div>
        </div>
      {{else}}
        {{#if buildTypes}}
          {{#em-tabs }}
            {{#em-tab-list}}
              {{#each buildTypes as |type|}}
                {{#em-tab}}
                  {{type.name}}
                {{/em-tab}}
              {{/each}}
            {{/em-tab-list}}
            {{#each buildTypes as |type|}}
              {{#em-tab-panel}}
                {{build-type type=type path=path is_interrupted=is_interrupted}}
              {{/em-tab-panel}}
            {{/each}}
          {{/em-tabs}}
        {{else}}
          <h4 class="message">No Built types found.</h4>
        {{/if}}
      {{/if}}
    </div>
  </div>
  <div class='status-bar'>
    {{#if isFileSelected}}
      Selected {{path}} {{else if stdout}}
      <span class='{{if success "success" "error"}}'>{{stdout}}</span>
    {{else}}
      Ready. Bring it on!
    {{/if}}
  </div>
</div>
