{{outlet}}

 <h1>Hello World!</h1>

<div {{action "clean"}}>Clean</div> 
<div {{action "save"}}>Save</div>

<div {{action "open"}}>Open</div>

<div>{{path}}</div>

{{multiselect-checkboxes
    options=buildTypes
    labelProperty='name'
    selection=selectedTypes}}